<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me</title>
    <link rel="stylesheet" href="styles3.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
</head>
<body>
    <div id="app" class="container">
        <h1>{{ greeting }}</h1>
        <img :src="imageSrc" alt="Kariiina" class="profile-image">
        
        <button @click="toggleMessage" :class="{ active: isActive }">{{ buttonText }}</button>
        
        <p v-if="messageVisible" class="message" :style="{ color: textColor }">{{ message }}</p>
        <a v-if="messageVisible" :href="aboutLink" class="link-button" @click="onLinkClick">Перейти на основную страницу</a>
        <div v-if="messageVisible" class="edit-container">
            <label for="edit-message">Изменить текст:</label>
            <input id="edit-message" type="text" v-model="message" placeholder="Введите новый текст" />
        </div>

        <button @click="changeTextColor" class="change-color-button">Поменять цвет текста</button>
    </div>
    

    <script src="app.js"></script>
</body>
</html>
