body {
    background-color: #DEB887;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info2 {
    display: flex; /* Включаем Flexbox */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
}
.info {
    margin-right: 20px; /* Отступ справа от изображения */
}

.info img {
    display: block; /* Убираем отступы снизу у изображения */
    margin-top: 90px; /* Отступ сверху, чтобы опустить картинку */
    width: 300px; /* Задаем ширину изображения (по желанию) */
    border-radius: 28px; /* Сохраняем скругление углов */
}

.picture2{
    width: 350px;
    border-radius: 28px;
}



/*ссылки*/
#link a {
    color: #006400;            /* Цвет текста черный */
    text-decoration: none;     /* Убирает подчеркивание */
    font-size: 30px;
}

#link a:hover {              /* Псевдокласс для наведения */
    text-decoration: underline; /* Подчеркивание при наведении */
}

#link a:active {             /* Псевдокласс для нажатия */
    background-color: #000000; /* Черный фон при нажатии */
    color: #FFFFFF;            /* Можно добавить цвет текста, чтобы он был виден на черном фоне */
}


.card1 {
    padding: 50px 120px;  /*отступы внутри*/
    background: #FFDEAD;
    margin-bottom: 29px;  /*отступы между блоками*/
    border-radius: 80px; /*скругление */
}
.card {
    padding: 5px 120px;  /*отступы внутри*/
    background: #FFDEAD;
    color: black;
    margin-bottom: 29px;  /*отступы между блоками*/
    border-radius: 80px; /*скругление */
}

p {
    font-size: 20px;
}

.table {
    width: 50%;
    border-collapse: collapse; /*объединяет границы ячеек. между ними не будет промежутков*/
}

.table th {
    font-size: 25px;
    padding: 8px 150px; /*внутренний отступ*/
    text-align: center;
    
}
.table td {
    font-size: 20px;
    padding: 8px; /*внутренний отступ*/
    text-align: left;
}

.table caption {
    font-weight: bold; /*текст заголовка жирным*/
    margin-bottom: 20px;
    font-size: 30px;
}
/* Четные строки (2, 4, 6, ...) */
.table tr:nth-child(even) {
    background-color: #696969; /* Темно-серый */
}
/* Нечетные строки (1, 3, 5, ...) */
.table tr:nth-child(odd) {
    background-color: #808080; /* Серый */
}






.bts {
    font-size:37px;
    padding-left: 20px;
}
.colored-letter::first-letter{     /*Первая буква другим цветом*/
    color: red;
    font-size: 50px;
    font-weight: bold;
}
.smile {
    font-size:37px;
    padding-left: 20px;
}

.form-group label {
    display: block;
    font-size: 30px; /* Увеличиваем размер шрифта для меток */
    margin-bottom: 10px; /* Добавляем отступ снизу для меток */
}

.form-group input[type="text"] {
    font-size: 20px; /* Размер шрифта для текстовых полей */
    width: 200px;
    background: white;
    padding: 10px; /* Добавляем внутренний отступ для текстовых полей */
}

.form-group input[type="submit"] {
    font-size: 15px; /* Увеличиваем размер шрифта для кнопки */
    padding: 20px 70px; /* Добавляем отступ для кнопки */
    margin-top: 20px; /* Добавляем отступ сверху, чтобы кнопка была ниже */
    margin-bottom: 100px;
    cursor: pointer; /* Курсор в виде указателя при наведении */
    background: #2F4F4F;
}

/*фиксированное позиционирование*/
.fixed {     
    position: fixed;
    bottom: 10px; /* Фиксируется внизу на 10px */
    right: 20px; /* Фиксируется справа на 20px */
}



/*форма*/
#pr{
    width: 500px;
    margin: 10px;
}

/*оформление к спискам */
.custom-list {
    list-style-type: square; /*маркеры на квадратные */
    padding-left: 40px; /* Отступ слева */
}


.card3 {
    padding: 5px 120px;  /*отступы внутри*/
    background: #FFDEAD;
    color: black;
    margin-bottom: 29px;  /*отступы между блоками*/
    border-radius: 80px; /*скругление */
}

/* Стили для контейнера с изображением и текстом */
.flex-container {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
}

/* Стили для изображения */
.flex-container img {
    margin-right: 20px; /* Отступ между изображением и текстом */
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Сохраняем пропорции изображения */
}

/* Стили для текста */
.flex-container div {
    font-size: 27px; /* Размер шрифта для текста */
}

/* Дополнительные стили для заголовков */
h2, h3, h4, h5 {
    margin-top: 10px; /* Отступ сверху для заголовков */
}







